@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Umbrella Icons';
  src: url('./assets/fonts/umbrella-icons.ttf');
  font-weight: 500;
}

html {
  font-family: 'Raleway', sans-serif;
}

/*
  * Umbrella Icons
*/

span[class^="ui-"] {
  font-family: 'Umbrella Icons';
}


.ui-about-black:before {
  content: "\e900";
}

.ui-about-purple:before {
  content: "\e901";
  color: #6624ff;
}

.ui-about-white:before {
  content: "\e902";
  color: #fff;
}

.ui-account-black:before {
  content: "\e903";
}

.ui-account-purple:before {
  content: "\e904";
  color: #6624ff;
}

.ui-account-white:before {
  content: "\e905";
  color: #fff;
}

.ui-calendar-black:before {
  content: "\e906";
}

.ui-calendar-purple:before {
  content: "\e907";
  color: #6624ff;
}

.ui-calendar-white:before {
  content: "\e908";
  color: #fff;
}

.ui-chart-black:before {
  content: "\e909";
}

.ui-chart-purple:before {
  content: "\e90a";
  color: #6624ff;
}

.ui-chart-white:before {
  content: "\e90b";
  color: #fff;
}

.ui-clock-black:before {
  content: "\e90c";
}

.ui-clock-purple:before {
  content: "\e90d";
  color: #6624ff;
}

.ui-clock-white:before {
  content: "\e90e";
  color: #fff;
}

.ui-closed-eye-black:before {
  content: "\e90f";
}

.ui-closed-eye-purple:before {
  content: "\e910";
  color: #6624ff;
}

.ui-closed-eye-white:before {
  content: "\e911";
  color: #fff;
}

.ui-contact-black:before {
  content: "\e912";
}

.ui-contact-purple:before {
  content: "\e913";
  color: #6624ff;
}

.ui-contact-white:before {
  content: "\e914";
  color: #fff;
}

.ui-copy-black:before {
  content: "\e915";
}

.ui-copy-purple:before {
  content: "\e916";
  color: #6624ff;
}

.ui-copy-white:before {
  content: "\e917";
  color: #fff;
}

.ui-customization-black:before {
  content: "\e918";
}

.ui-customization-purple:before {
  content: "\e919";
  color: #6624ff;
}

.ui-customization-white:before {
  content: "\e91a";
  color: #fff;
}

.ui-dashboard-black:before {
  content: "\e91b";
}

.ui-dashboard-purple:before {
  content: "\e91c";
  color: #6624ff;
}

.ui-dashboard-white:before {
  content: "\e91d";
  color: #fff;
}

.ui-delete-black:before {
  content: "\e91e";
}

.ui-delete-purple:before {
  content: "\e91f";
  color: #6624ff;
}

.ui-delete-white:before {
  content: "\e920";
  color: #fff;
}

.ui-device-black:before {
  content: "\e921";
}

.ui-device-purple:before {
  content: "\e922";
  color: #6624ff;
}

.ui-device-white:before {
  content: "\e923";
  color: #fff;
}

.ui-arrow-down-black:before {
  content: "\e924";
}

.ui-arrow-down-purple:before {
  content: "\e925";
  color: #6624ff;
}

.ui-arrow-down-white:before {
  content: "\e926";
  color: #fff;
}

.ui-edit-black:before {
  content: "\e927";
}

.ui-edit-purple:before {
  content: "\e928";
  color: #6624ff;
}

.ui-edit-white:before {
  content: "\e929";
  color: #fff;
}

.ui-eye-black:before {
  content: "\e92a";
}

.ui-eye-purple:before {
  content: "\e92b";
  color: #6624ff;
}

.ui-eye-white:before {
  content: "\e92c";
  color: #fff;
}

.ui-home-black:before {
  content: "\e92d";
}

.ui-home-purple:before {
  content: "\e92e";
  color: #6624ff;
}

.ui-home-white:before {
  content: "\e92f";
  color: #fff;
}

.ui-arrow-left-black:before {
  content: "\e930";
}

.ui-arrow-left-purple:before {
  content: "\e931";
  color: #6624ff;
}

.ui-arrow-left-white:before {
  content: "\e932";
  color: #fff;
}

.ui-logout-black:before {
  content: "\e933";
}

.ui-logout-purple:before {
  content: "\e934";
  color: #6624ff;
}

.ui-logout-white:before {
  content: "\e935";
  color: #fff;
}

.ui-menu-black:before {
  content: "\e936";
}

.ui-menu-purple:before {
  content: "\e937";
  color: #6624ff;
}

.ui-menu-white:before {
  content: "\e938";
  color: #fff;
}

.ui-locked-black:before {
  content: "\e939";
}

.ui-locked-purple:before {
  content: "\e93a";
  color: #6624ff;
}

.ui-locked-white:before {
  content: "\e93b";
  color: #fff;
}

.ui-page-black:before {
  content: "\e93c";
}

.ui-page-purple:before {
  content: "\e93d";
  color: #6624ff;
}

.ui-page-white:before {
  content: "\e93e";
  color: #fff;
}

.ui-plate-black:before {
  content: "\e93f";
}

.ui-plate-purple:before {
  content: "\e940";
  color: #6624ff;
}

.ui-plate-white:before {
  content: "\e941";
  color: #fff;
}

.ui-chart-black:before {
  content: "\e942";
}

.ui-chart-purple:before {
  content: "\e943";
  color: #6624ff;
}

.ui-chart-white:before {
  content: "\e944";
  color: #fff;
}

.ui-arrow-right-black:before {
  content: "\e945";
}

.ui-arrow-right-purple:before {
  content: "\e946";
  color: #6624ff;
}

.ui-arrow-right-white:before {
  content: "\e947";
  color: #fff;
}

.ui-settings-black:before {
  content: "\e948";
}

.ui-settings-purple:before {
  content: "\e949";
  color: #6624ff;
}

.ui-settings-white:before {
  content: "\e94a";
  color: #fff;
}

.ui-arrow-up-black:before {
  content: "\e94b";
}

.ui-arrow-up-purple:before {
  content: "\e94c";
  color: #6624ff;
}

.ui-arrow-up-white:before {
  content: "\e94d";
  color: #fff;
}