@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Umbrella Icons';
  src: url('./assets/fonts/umbrella-icons.ttf');
  font-weight: 500;
}

html {
  font-family: 'Raleway', sans-serif;
}

/*
  * Umbrella Icons
*/

[class^="ui-"], [class*=" ui-"] {
  font-family: 'Umbrella Icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-about:before {
  content: "\e900";
}
.ui-account:before {
  content: "\e901";
}
.ui-arrow-down:before {
  content: "\e902";
}
.ui-arrow-left:before {
  content: "\e903";
}
.ui-arrow-right:before {
  content: "\e904";
}
.ui-arrow-up:before {
  content: "\e905";
}
.ui-calendar:before {
  content: "\e906";
}
.ui-chart:before {
  content: "\e907";
}
.ui-clock:before {
  content: "\e908";
}
.ui-closed-eye:before {
  content: "\e909";
}
.ui-contact:before {
  content: "\e90a";
}
.ui-copy:before {
  content: "\e90b";
}
.ui-customization:before {
  content: "\e90c";
}
.ui-delete:before {
  content: "\e90d";
}
.ui-device:before {
  content: "\e90e";
}
.ui-edit:before {
  content: "\e90f";
}
.ui-eye:before {
  content: "\e910";
}
.ui-home:before {
  content: "\e911";
}
.ui-locked:before {
  content: "\e912";
}
.ui-logout:before {
  content: "\e913";
}
.ui-menu:before {
  content: "\e914";
}
.ui-pie-chart:before {
  content: "\e915";
}
.ui-plate:before {
  content: "\e916";
}
.ui-settings:before {
  content: "\e917";
}
.ui-dashboard:before {
  content: "\e918";
}
.ui-page:before {
  content: "\e919";
}
